body{
color: greenyellow;
font-family: fantasy;
font-size: 50px;
background-color: black;

} 
h1{
text-align: center;

}
p{
text-align: center;
font-size:25px ;
font-family:'Times New Roman'
}